@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;


}

a{
  background-color: #2D2D2D;
}
.wrapper {
  position: fixed;
  left: 85%;
  top: 5%;
  width: 14%;
  font-weight: 500;
  font-family: 'Monsterrat', sans-serif;

}
.menu {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.item {
  overflow: hidden;
}

.btn {
  display: block;
  padding: 18px ;
  background-color: #1D1D1D;
  color: hsl(240, 64%, 96%);
  position: relative;
  font-size: 1.08rem;
  letter-spacing: .02rem;

}

.btn::before {
  content: "";
  position: absolute;
  left: 32px;
  bottom: -6px;
  width: 15px;
  height: 15px;
  background-color: #1D1D1D;
  transform: rotate(45deg);
}

.btn i {
  margin-right: 16px;
}

.sm-menu {
  overflow: scroll;
  transition: max-height .6s ease;
  max-height: 0;
  background-color: #2D2D2D;
  font-family: 'Source Sans Pro ', sans-serif;


}

.sm-menu a{
  position: relative;
  display: block;
  padding: 8px 32px;
  margin: 6px 0px;
  color: lightgrey;
  font-weight: 300;
  font-size: .9em;
  transition: all .5s ease;
}

.sm-menu a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 8px;
  height: 8px;
  border: 1px solid hsl(240, 64%, 82%);
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.sm-menu a:hover::before {
  opacity: 1;
}

.item:target .sm-menu {
  max-height: 8rem;
}

@media only screen and (max-width:800px) {
  .wrapper {
      width: 36%;
  }
  .btn {
    padding: 18px 24px;
    font-size: 1rem;
    letter-spacing: .01rem;
  }

  .btn::before {
  left: 24px;
  bottom: -6px;
  width: 15px;
  height: 15px;
 }

  .sm-menu a{
  padding: 8px 24px;
  margin: 4px 0px;
  font-size: .98rem;
 }

  .sm-menu a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  width: 6px;
  height: 6px;

}


}

@media only screen and (max-width:500px) {
  .wrapper {
      width: 50%;
  }
  .sm-menu a::before {
    display:none;
  }


}
