@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


:root {
	/* colors */
	--color-text: #252525;
	--color-text-h1: #ffffff;
	--color-text-h2: #303030;
	--color-text-: #353535;
	--color-text-h4: #404040;
	--color-highlight: #aaa;
	--color-bg: #F5F5F5;
}

body{
	background-color: #292929
}


#myVideo {
  position: relative;
max-width: 100%;
min-width: 100%;
}


.content {
  position: absolute;
	bottom:0%;
 	background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
}


.video_header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 3em;
	letter-spacing: 2%;
	padding-bottom: 5px;
}

.video_caption{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.5em;
	padding-bottom: 15px;

}


.call_to_action{
	width: 15%;

	padding: 10px 25px;
	border: 0PX;
	margin: 20px 0px;

	border-radius: 10px;
	background-image: linear-gradient(to right, rgba(67, 206, 162,0.8), rgba(24, 90, 157,0.8) );
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: white;

}

/* Generic Overview of the research section */
.research_area{
	height: auto;
}

/* Container for elements */
.content_area{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* The elements themselves */
.overall_box_container, .overall_box_container_new{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
margin-top: 200px;
margin-bottom: 30px;

border-radius: 10px;
background-color: #464646;
border-left: 9px solid rgba(67, 206, 162,0.8);
}

.overall_box_container{
	width: 75%;

}


.overall_box_container_new{
	width:200%;
}

.general_box_content{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-left: 9px solid rgba(67, 206, 162,0.8);
	margin-right: 20px;
	margin-left: 50px;
}

#error{
	border-left: 9px solid rgba(247, 74, 90, 1);
}


#min_error{
	border-left: 9px solid rgba(245, 166, 35, 1);
}

.general_box_content p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	color: white;
	margin-top: 20px;

}
/* Text Entities within said element  */
.overarching_header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin-top: 10px;
	letter-spacing: 2%;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	color: white

}

#it_2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin-top: 30px;
	letter-spacing: 2%;
	padding-left: 50px;
	padding-bottom: 10px;
	color: white;


}

.overarching_header_new{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin-top: 10px;
	letter-spacing: 2%;
	padding-left: 50px;
	padding-bottom: 10px;
	color: white
}

.overaching_para{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	padding-left: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 50px;
	color: white;
	line-height: 1.6em;


}

/* Generic Overview Section */
.report_content{
	width:75%;
	display: flex;
	flex-direction: column;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.2em;
}

.function_grid{
	display: flex;
	flex-direction: row;
}

.report_content h1{
	font-family: 'Monsterrat', sans-serif;
	font-size: 2.2em;
	font-weight: 900;
	padding: : 40px;
	color: rgba(67, 206, 162);
	margin: 20px 0px;
	margin-top: 100px;

}

.report_content h2{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.9em;
	font-weight: 600;
	color: rgba(67, 206, 162);
	margin-top: 50px;
}


.report_content h3{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.6em;
	font-weight: 500;
	color: rgba(67, 206, 162);
	margin-bottom: 30px;
	margin-top: 30px;


}


.report_content p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.6em;
margin-top: 20px;
margin-bottom: 20px;
}

.report_content li{
margin-bottom: 20px;
}

.report_content ol{
margin-top: 20px;
}

/* Spans Used */

#strong_li{
font-weight: 700;
/* text-decoration: underline; */
}

#question_iteration{
	font-weight: 600;
	font-style: italic;
}

.para_report{
margin: 50px 0px;
}


/* Grid Section Elements */
.report_content_grid{
	display:grid;
	width: 70%;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin: 30px;
	gap: 5em;
}



/* Grid Section Elements Second */
.report_content_grid_second{
	display:grid;
	/* width: 85%; */
	grid-template-columns: 1fr 1fr;
	align-items: center;
	/* margin: 30px; */
	gap: 5em; }


.method_report_section{
	display:grid;
	grid-template-columns: 1fr 1fr;

}


.survery_grid{
	display:grid;
	grid-template-columns: 1fr;

}


.method_report_section_new{
	display:grid;
	grid-template-columns: 0.5fr 0.5fr;


}

.iteration_function_grid{
	display:grid;
	grid-template-areas:
	 1fr 1fr 1fr 1fr
	 1fr 1fr 1fr 1fr
	 1fr 1fr 1fr 1fr;


	 margin-bottom: 40px;



}


.caption{
	margin-top: 50px;
	text-align: left;
	margin-bottom: 50px;
}


.report_content_grid_second h3{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.4em;
	font-weight: 600;
	color: rgba(67, 206, 162);
	margin: 20px 0px;

}
	.report_content_grid_second h4{
		font-family: 'Monsterrat', sans-serif;
		font-size: 1.2em;
		font-weight: 400;
		color: rgba(67, 206, 162);
		margin: 20px 0px;

}


.report_content_grid_second p{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 200;
	font-size: 1.2em;
	margin-top: 20px;
}






.report_content_grid h3{
	font-family: 'Monsterrat', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: rgba(67, 206, 162);
}

.report_content_grid p{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 200;
	font-size: 1.2em;
	margin-top: 20px;
	line-height: 1.6em;

}


/* Methods people */

/* Div Encasing all grid text */
.report_content_grid_text{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 10px;
	background-color: #464646;
	border-left: 9px solid rgba(67, 206, 162,0.8);
	padding: 30px;
	width: 30vw;
}



/* Photo Elements */

.image_flex{
text-align: center;}

.image_container{
	display: flex;

}

.report_photo{
	margin-top: 40px;
	margin-right: 50px;
	/* box-shadow: 0 14px 28px rgba(0,0,0,3), 0 10px 10px rgba(0,0,0,3); */
}
