@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


:root {
	/* colors */
	--color-text: #252525;
	--color-text-h1: #ffffff;
	--color-text-h2: #303030;
	--color-text-h3: #353535;
	--color-text-h4: #404040;
	--color-highlight: #aaa;
	--color-bg: #292929;
}
body{
	background-color: #292929
}

.test{
  font-size: 1.4em;

   font-style:italic;
   color: #555555;
   padding:1.2em 30px 1.2em 75px;
   border-left:8px solid #78C0A8 ;
   line-height:1.6;
   position: relative;
   background:#EDEDED;

 }
.test:before, .test:after{
 color:#78C0A8;
 font-size:4em;
 /* position: absolute; */
 left: 10px;
 top:-10px;
}


.test::before{
  content: "\201C";
}

.test::after{
  content: "\201D";
}


#myVideo {
  position: relative;
max-width: 100%;
min-width: 100%;
}


.content {
  position: absolute;
	bottom:0%;
 	background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
}

.video_header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 3em;
	letter-spacing: 2%;
	padding-bottom: 5px;
}

.video_caption{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 1.5em;
	padding-bottom: 15px;

}


.call_to_action{
	width: 15%;

	padding: 10px 25px;
	border: 0PX;
	margin: 20px 0px;

	border-radius: 10px;
	background-image: linear-gradient(to right, rgba(67, 206, 162,0.8), rgba(24, 90, 157,0.8) );
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: white;

}

/* Generic Overview of the research section */
.research_area{
	height: 300vh;
}




/* The elements themselves */
.overall_box_container{
	display: flex;
	flex-direction: column;
	align-items: center;

box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.42);
width:70%;
margin: 30px 0px;
display: flex;
flex-direction: row;
border-radius: 10px;
background-color: #464646
}

/* Text Entities within said element  */
.overarching_header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin-top: 10px;
	letter-spacing: 2px;
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 10px;
	color: white;

}

.overaching_para{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	padding-left: 50px;
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 50px;
	color: white;
}

.text_report{
	text-align: left;
}
